/**
 * Theme Specific Standard Page Controls
 */
/**
 * Page Action Bar
 */
#ph_page_actions {
	float:right;
	}
#ph_page_actions img { border:0; }
#ph_page_actions .mypage-actionbar {
	float:left;
	}
#ph_page_actions .mypage-actionbar .mypage-actionbar-action {
	/*background:url(/assets/admin/img/menus/pageaction/b_action.gif) top left no-repeat;*/
	float:left;
	margin-left:10px;
	margin-top:4px;
	/*padding-left:10px;*/
	}
#ph_page_actions .mypage-actionbar .mypage-actionbar-action a {
	/*background:url(/assets/admin/img/menus/pageaction/b_action.gif) top right no-repeat;*/
	background-color:#369;
	color:#fff;
	font-weight:bold;
	display:block;
	float:left;
	font-size:10px;
	height:11px;
	line-height:11px;
	padding:8px 10px 12px 10px;
	text-decoration:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
#ph_page_actions .mypage-actionbar .mypage-actionbar-action a:hover { background-color:#0a3d5c; }

/**
 * Action Bar
 */
.myactionbar-container {
	/*background:url(/assets/admin/img/menus/actionbar/bg_actionbar.png) top left no-repeat;*/
	/*padding-left:3px;
	background:#fff;*/
	}

.myactionbar-container .myactionbar {
	/*background:url(/assets/admin/img/menus/actionbar/bg_actionbar.png) top right no-repeat;*/
	height:47px;
	}
.myactionbar-container .myactionbar div.myaction {
	/*background:url(/assets/admin/img/menus/actionbar/bg_actionbar_a.png) top left no-repeat;*/
	/*border:1px solid #e0e0e0;*/

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#336699;
	float:left;
	margin-top:3px;
	margin-right:3px;
	}
.myactionbar-container .myactionbar div.myaction:hover { background-color:#0a3d5c; }
.myactionbar-container .myactionbar div.myaction a {
	/*background:url(/assets/admin/img/menus/actionbar/bg_actionbar_a.png) top right no-repeat;*/
	color:#fff;
	display:block;
	font-size:10px;
	font-weight:bold;
	height:16px;
	padding:12px;
	text-decoration:none;
	}
.myactionbar-container a:hover {
	
	}
.myactionbar-container img {
	border:0;
	}
/*
 * Panels
 */
 
.mypanel {
	margin:7px 0; 
	background-color:#216f9f;
	}
/*
.mypanel-bottom-l{
	background:url(/assets/admin/img/themes/athenacms/panel-bl.gif) no-repeat left bottom;
	}*/
.mypanel-bottom-r {
	/*padding-bottom:5px;*/
	/*background:url(/assets/admin/img/themes/athenacms/panel-br.gif) no-repeat right bottom;*/
	}

.mypanel-header-l {
	padding:1em;
	}
/*
.mypanel-header-r {
	background:url(/assets/admin/img/themes/athenacms/panel-tr.gif) no-repeat right top #216f9f;
	padding-right:5px;
	}
.mypanel-header-center {
	background:url(/assets/admin/img/themes/athenacms/panel-header.gif) repeat-x #216f9f;
	min-height:9px;
	padding:10px 5px;
	}*/
.mypanel-header2-outer {
	/*border:1px solid #75a7c6;
	border-top:0; border-bottom:0;*/
	padding:5px;
	}
/*
.mypanel-header2-inner {
	font-size:.8em;
	padding:5px;
	padding-top:20px;
	}
.mypanel-header2-inner .mypanel-title {
	color:#fff;
	}*/
.mypanel-title {
	color:#fff;
	font-size:1.3em;
	font-weight:bold;
	padding:
	}
.mypanel-description {
	color:#fff;
	font-style:italic;
	}
.mypanel-header2-inner .mypanel-description {
	color:#75a7c6;
	}
.mypanel-body-outer {
	background-color:#216f9f;
	/*border:1px solid #75a7c6;
	border-top:0;
	border-bottom:0;*/
	/*padding:0 4px;*/
	}
.mypanel-body-inner {
	background-color:#fff;
	/*border:1px solid #75a7c6;*/
	}
.mypanel-body-inner2 {
	/*border:1px solid #216f9f;*/
	}
.mypanel-body-content {
	padding:7px;
	}
.mypanel-body-options ul {
	margin:0;
	padding:0;
	list-style:none;
	}
.mypanel-body-options li {
	margin:0;
	padding:0;
	}
.mypanel-body-options ul a {
	background-color:#fafafa;
	border-bottom:1px solid #ccc;
	color:#216f9f;
	display:block;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	}
.mypanel-body-options ul li.selected a, .mypanel-body-options ul li.selected a:hover {
	background-color:#dff8fa;
	color:#216f9f;
	}
.mypanel-body-options ul a:hover {
	background-color:#216f9f;
	color:#fff;
	}
.mypanel-body-options ul li:last-child a {
	border-bottom:none;
	}
.mypanel-actionbar-bottom {
	/*border:1px solid #75a7c6;
	border-top:0;border-bottom:0;*/
	/*padding:0 5px;*/
	}
.mypanel-actionbar-bottom, .mypanel-actionbar-bottom a { color:#fff; }
.mypanel-actionbar-bottom-inner {
	padding:7px 0 5px 0;
	}
.mypanel-actionbar-bottom a {
	color:#fff;
	}

/**
 *
 */
.datagrid-noresults {
	padding:7px;
	}

/**
 * Breadcrumb
 */
.breadcrumb {
	background-color:#f7f7f7;
	border:1px solid #d7d6d6;
	height:30px;
	}
.breadcrumb span.breadcrumb-element {
	background:url(/assets/admin/img/tpl/breadcrumb-divider.gif) right center no-repeat;
	cursor:pointer;
	display:block;
	float:left;
	font-size:10px;
	height:10px;
	padding:10px 22px 10px 12px;
	}
.breadcrumb a.breadcrumb-link {
	text-decoration:none;
	}

/**
 * Panel
 */
/*
.spacetop {
	margin-top:7px;
	}
.panel {
	margin:7px 0;
	}
.panel .panel-header, .detaileditview-header {
	border:1px solid #185f7e;
	border-bottom:0;
	font-size:1.2em;
	font-weight:bold;
	padding:10px;
	border-color:#75a7c6;
	}
.panel .panel-header, .detaileditview-header {
	background:url(/assets/admin/img/datagrid/bg_datagrid-header2.gif) left top repeat-x #216f9f;
	}
.panel-header { color:#fff; }
.panel-header .panel-header-title, .detaileditview-header {
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
	}
.panel-header .panel-header-description {
	color:#ddd;
	font-size:.9em;
	font-style:italic;
	font-weight:normal;
	}
*/
/**
 * Panel Tabs
 */

div.panel-tabs {
	background:url(/assets/admin/img/menus/tabs/bg_tabs.gif) repeat-x #d9e6f4;
	border:1px solid #9dbde9;
	border-bottom:0;
	height:25px;
	}
div.panel-tabs ul { 
	list-style:none;
	margin:0;
	padding:0;
	}
div.panel-tabs li {
	background:url(/assets/admin/img/menus/tabs/bg_tab.png) no-repeat;
	background-position:top left;
	float:left;
	height:24px;
	margin:0;
	margin-left:3px;
	margin-top:1px;
	padding:0;
	padding-left:10px;
	}
div.panel-tabs li a {
	background:url(/assets/admin/img/menus/tabs/bg_tab.png) no-repeat;
	background-position:top right;
	color:#416aa3;
	display:block;
	float:left;
	font-size:11px;
	line-height:11px;
	height:24px;
	padding-right:10px;
	padding-top:5px;
	}
div.panel-tabs li.selected {
	background:url(/assets/admin/img/menus/tabs/bg_tab-selected.png) no-repeat;
	background-position:top left;
	height:25px;
	}
div.panel-tabs li.selected a { 
	background:url(/assets/admin/img/menus/tabs/bg_tab-selected.png) no-repeat;
	background-position:top right;
	font-weight:bold;
	height:25px;
	padding-top:4px;
	}
div.tab-panel {
	display:none;
	}
div.panel div.panel-body {
	border:1px solid #787878;
	border-color:#75a7c6;
	padding:7px;
	}
div.panel div.panel-content {
	background-color:#fff;
	}
/**
 * Datagrids inside of panel-content sections
 */
div.panel div.panel-content .datagrid table, div.panel div.panel-content table.datagrid { border:0; }
div.panel div.panel-content .datagrid table th, div.panel div.panel-content table.datagrid th { 
	background:none;
	background-color:#fff;
	border:0;
	border-bottom:1px solid #90cbe5;
	padding:6px 10px;
	}

div.panel div.panel-header2 { 
	background-color:#f2f2f2;
	border:1px solid #787878;
	border-color:#75a7c6;
	border-bottom:0;
	font-size:.9em;
	font-weight:bold;
	padding:6px 10px;
	/* New */
	background:none;
	background-color:#dff8fa;
	background:url(/assets/admin/img/panel/bg_section-title.gif) repeat-x #efefef;
	color:#216f9f;
	color:#333;
	font-size:1.2em;
	padding:10px;
	}
div.panel div.panel-body div.panel-body-inner {}

div.panel div.panel-header-stacked, div.panel div.panel-header2-stacked {
	border-top:0;
	}

/**
 * DataGrid Table
 */
.datagrid table, table.datagrid {
	border-collapse:collapse;
	_border:1px solid #787878;
	_border-left-color:#aaa;
	border-color:#75a7c6;
	}
.datagrid table, table.datagrid {
	width:100%;
	}

.datagrid th {
	background-color:#f0f0f0;
	/*border:1px solid;
	border-color:#75a7c6;
	border-right:none; border-top:none;*/
	color:#666;
	padding:1em .5em;
	text-align:left;
	}
.datagrid th:first-child {
	border-left:none;
}
.datagrid th.actions {
	/*background-color:#eee;*/
	background-color:#387ea9;
	color:#fff;
	/*border:1px solid #ddd;
	border-right-width:0;*/
	/*color:#185f7e;*/
	}

.datagrid td {
	background-color:#fff;
	/*
	_border-bottom:1px solid #efefef;
	border-bottom:1px solid #ececec;
	*/
	border-right:0;border-left:0;
	font-size:12px;
	padding:8px 10px;
	}
.datagrid td a { color:#185f7e;}
.datagrid td.filter {
	background-color:#bde0f1;
	border-bottom:1px solid #90cbe5;
	color:#185f7e;
	}
	
.datagrid tr.altrow1 td, .datagrid td.altrow1 { 
	_background-color:#fafafa;
	background-color:#f6f6f6;
	}
.datagrid tr td.actions {
	background-color:#ebf2f6;
	}
.datagrid tr.altrow1 td.actions {
	background-color:#e3eaee;
	}
.datagrid td.actions, .datagrid td.actions-altrow1 {
	padding-left:10px;
	}
.datagrid td.actions img, .datagrid td.actions-altrow1 img {
	border:0;
	}

.datagrid td.currency { text-align:right; padding-right:5px; }
.datagrid tr.summary td { background-color:#e1e1e1; }
.datagrid tr.summary td.summary-name { text-align:right; padding-right:0; }
.datagrid tr.summary td.summary-value { font-weight:bold; }

.datagrid td.section { 
	background-color:#e1e1e1;
	border-bottom-color:#ccc;
	color:#666;
	font-size:1.2em;
	font-weight:bold;
	padding-top:.5em;padding-bottom:.5em;
	}
/**
 * Detail Edit View
 */
.detaileditview {
	background-color:#fff;
	}
table.detaileditview-sidebyside {
	border-spacing:7px;
	/*background-color:#e9e9e9;*/
	_border:1px solid #787878;
	}
.detaileditview-sidebyside td.sidebyside-cell {
	background-color:#fff;
	/*border:1px solid #75a7c6;*/
	}
.detaileditview-sidebyside td.sidebyside-cell-noborder {
	border:0;
	}
.detaileditview td {
	padding:10px 0;
	}
.detaileditview td.field {
	text-align:right;
}
.detaileditview td.field, .detaileditview td.field2col { 
	color:#185f7e;
	font-weight:bold;
	padding-right:10px;
	}

.detaileditview .divider-bottom {
	border-bottom:1px solid #c5e9fa;
	}
.detaileditview .value input, .detaileditview .value select, .detaileditview textarea { 
	/*border:1px solid #90cbe5;*/
	border:none;
	background-color:#e8f8ff;
	padding:5px;
	}
.detaileditview textarea {
	width:400px;
	_height:120px;
	height:240px;
	}
.detaileditview-actionbar, .panel-actionbar {
	background:url(/assets/admin/img/detaileditview/bg_detaileditview-actionbar.gif) left top repeat-x #d9d9d9;
	border:1px solid #787878;
	border-top:0;
	padding:7px;
	}

.detaileditview-sidebyside div.section-title, .detaileditview td.section, .panel div.section-title {
	/*background:url(/assets/admin/img/panel/bg_section-title.gif) repeat-x #efefef;*/
	background-color:#efefef;
	/*border-bottom:1px solid #787878;*/
	color:#333;
	font-weight:bold;
	padding:1.1em;
	}

.detaileditview-sidebyside div.section-body, .panel div.section-body {
	padding:10px;
	}
.detaileditview-sidebyside td.sidebyside-cell .detaileditview {	}	
.detaileditview-sidebyside td.sidebyside-cell-padding { padding:7px; }

/**
*
* Tabs
*
**/

.ui-tabs-nav {
	list-style: none;
	margin: 0;
	padding: 0 0 0 3px;
	}
.ui-tabs-nav li {
	float: left;
	margin: 0 0 0 2px;
	font-weight: bold;
	}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
	}

.ui-tabs-nav span {}

.ui-tabs-nav a, .ui-tabs-nav a span {
	background: url(/assets/admin/img/bg_tabs.png) no-repeat;
	float: left; /* fixes dir=ltr problem and other quirks IE */
	padding: 0 12px;
	}
.ui-tabs-nav a {
	margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
	padding-left: 0;
	background-position: 100% 0;
	text-decoration: none;
	white-space: nowrap; /* @ IE 6 */
	outline: 0; /* @ Firefox, prevent dotted border after click */    
	}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
	color: #1d4284;
	}
.ui-tabs-nav .ui-tabs-selected a {
	border-bottom:1px solid #fff;
	color:#000;
	position: relative;
	top: 1px;
	z-index: 2;
	margin-top:5px;
	background-position: 100% -27px;
	}
.ui-tabs-nav a span {
	padding-top: 1px;
	padding-right: 0;
	height: 25px;
	background-position: 0 0;
	line-height: 25px;
	}
.ui-tabs-nav .ui-tabs-selected a span {
	padding-top: 0;
	height: 27px;
	background-position: 0 -27px;
	line-height: 27px;
	margin-top
	}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
	cursor: text;
	}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
	cursor: pointer;
	}
.ui-tabs-disabled {
	opacity: .4;
	filter: alpha(opacity=40);
	}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
	color: #000;
	}
.ui-tabs-panel {
	background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
	border: 1px solid #787878;
	color:#666;
	padding: 10px;
	}
/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
	display: inline-block;
	}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
	display: inline-block;
	}
	
.ui-tabs-hide { display: none; }
/* End Tabs */

/**
 * Index pages
 */
a.section-option {
	background-color:#e1e1e1;
	border:1px solid #ccc;
	display:block;
	margin-bottom:7px;
	padding:5px;
	text-decoration:none;
	}
a.section-option:hover {
	background-color:#d0d0d0;
	}
a.section-option img { border:0; }
a.section-option span.name {
	color:#333;
	font-weight:bold;
	}
a.section-option span.description {
	color:#999;
	font-style:italic;
	padding-left:24px;
	}
