<config version="1.0">
	<!-- Remember that changes to this file require the cache to be flushed -->
	<settings>
		<var name="VERSION" value="1.0" locked="true" />
		
		<var name="SYNC_SERVER" value="http://sync.athenacms.com" />
		
		<var name="DIR_WS_ADMIN" value="/admin/" helpText="Website location for admin" />
		<var name="DIR_WS_ADMIN_CONTENT" value="%DIR_WS_ADMIN%content/" helpText="Website location for accessing the admin version website content" />
		<var name="DIR_WS_HOME" value="/" helpText="Website location for home directory" />
		
		<!-- // Admin Assets // -->
		<var name="DIR_WS_ADMIN_ASSETS" value="/assets/admin/" />
		<var name="DIR_WS_ADMIN_ASSETS_IMG" value="%DIR_WS_ADMIN_ASSETS%img/" />
		<var name="DIR_WS_ADMIN_ASSETS_CSS" value="%DIR_WS_ADMIN_ASSETS%css/" />
		<var name="DIR_WS_ADMIN_ASSETS_JS" value="%DIR_WS_ADMIN_ASSETS%js/" />
		
		<!-- // Site Specific Assets // -->
<!--
		<var name="DIR_WS_ASSETS" value="/assets/%SITE_KEY%/" />
		<var name="DIR_WS_ASSETS_IMG" value="%DIR_WS_ASSETS%img/" />
		<var name="DIR_WS_ASSETS_CSS" value="%DIR_WS_ASSETS%css/" />
		<var name="DIR_WS_ASSETS_JS" value="%DIR_WS_ASSETS%js/" />
		<var name="DIR_WS_ASSETS_WMS" value="%DIR_WS_ASSETS%wms/" />
-->
		<var name="DIR_WS_ASSETS" value="/assets/" />
		<var name="DIR_WS_ASSETS_IMG" value="%DIR_WS_ASSETS%img/" />
		<var name="DIR_WS_ASSETS_CSS" value="%DIR_WS_ASSETS%css/" />
		<var name="DIR_WS_ASSETS_JS" value="%DIR_WS_ASSETS%js/" />
		<var name="DIR_WS_ASSETS_WMS" value="%DIR_WS_ASSETS%" />
		
		<!-- // Global Assets // -->
		<var name="DIR_WS_GASSETS" value="/assets/global/" />
		<var name="DIR_WS_GASSETS_IMG" value="%DIR_WS_GASSETS%img/" />
		<var name="DIR_WS_GASSETS_CSS" value="%DIR_WS_GASSETS%css/" />
		<var name="DIR_WS_GASSETS_JS" value="%DIR_WS_GASSETS%js/" />

		<var name="DIR_FS_TMP" value="%DIR_FS_FRAMEWORK_APP%tmp/" />
		<!--<var name="DIR_FS_PLUGINS" value="%DIR_FS_TMP%plugins/" />-->
		<var name="DIR_FS_PLUGINS" value="%DIR_FS_FRAMEWORK_APP%plugins/" />
		
		<var name="DIR_FS_CACHE" value="%DIR_FS_TMP%cache/" />
		<!--<var name="DIR_FS_ASSETS_WMS" value="%DIR_FS_HOME%assets/%SITE_KEY%/wms/" />-->
		<!--<var name="DIR_FS_ASSETS_WMS" value="%DIR_FS_HOME%assets/" />-->
		<var name="DIR_FS_ASSETS" value="%DIR_FS_HOME%assets/" />
		<var name="DIR_FS_ASSETS_WMS" value="%DIR_FS_ASSETS%" /> <!-- Legacy -->
		
		<var name="ENABLE_CACHE" value="true" />
		<var name="ENABLE_LOCALES" value="false" />
		<var name="ENABLE_ADMIN_LOCALES" value="false" />
		<var name="ENABLE_PROFILES" value="false" />
		<var name="ENABLE_ADMIN_PROFILES" value="false" />
		<var name="ENABLE_PAGE_STATS" value="true" />
		
		<var name="FILE_WS_LOGIN" value="%DIR_WS_HOME%login.html" />
		<var name="FILE_WS_ADMIN_LOGIN" value="%FILE_WS_LOGIN%" />
		<var name="URL_LOGIN" value="%FILE_WS_LOGIN%" />
		<var name="SESSION_KEY_PREPEND" value="" helpText="Value to prepend to session key" />
		<var name="PHONE_HOME" value="no" />
		<var name="LOG_LEVEL" value="error" />
		<var name="EMAIL_ERRORS" value="errors@athenacms.com" />
		<var name="EMAIL_LOGS" value="logs@athenacms.com" />
		<var name="EMAIL_NOTIFICATIONS" value="rjones@corporatewebimage.com" />
		
		<var name="ENCKEY" value="95kdka%lk$dj50a9b_*$%@&}29{|al4|';lkd$kkdhji@0dkjv98L$89lsdf~19dkl4k$(l$)kdkml2djhhmvnx47U$j&*$(9k31" />
		<!-- NOT YET USED 
		<var name="LINK_STORE_PRODUCT" value="%DIR_WS_HOME%products/{product.name}-c{category.id}-p{product.id}" />
		<var name="LINK_STORE_CATEGORY" value="%DIR_WS_HOME%shop/{category.name}" />-->
		<var name="STORE_USE_SECURE_CHECKOUT" value="true" />
		<var name="STORE_EMAIL_ORDER_NOTIFICATION" value="orders@athenacms.com" />
		
		<var name="THEME" value="xyz" /> <!-- Front End / While Editing -->
		<var name="THEME_ADMIN" value="athenacms" /> <!-- Admin / Back-end -->
		<var name="THEME_ADMIN_CONTENT" value="athenacms" /> <!-- Admin / Back-end -->
		<var name="THEME_ASSETMANAGER" value="xyz" />
		
		<var name="DATABASE_CACHE_RESULTS" value="true" />
		<!--
		<var name="BLOG_PERMALINK_FORMAT" value="/blog/{$year}/{$month}/{$day}/{$slug}.{$output_format}" />
		-->
	</settings>
	<pages>
		<requestHandlers>
			<add name="File" classFile="~base/libraries/providers/requesthandlers/file/file.php" className="FileRequestHandler" sortorder="1" />
			<add name="Database" classFile="~base/libraries/providers/requesthandlers/database/database.php" className="DatabaseRequestHandler" sortorder="2"/>
			<!-- 
			  -- Error: Primarily used by 404 Page Not Found
			  -- This page request handler will handle any requests that get this far.  
			  -->
			<add name="Error" classFile="~base/libraries/providers/requesthandlers/error/error.php" className="ErrorRequestHandler" sortorder="1000" />
			<!-- 
			  -- These page request handlers will never be checked because the error handler above intercepts everything
			  -- Items here can only be called directly using a pathMappings entry below
			  -->
			<!--<add name="Store" classFile="~/plugins/store/libraries/providers/requesthandlers/store/store.php" className="StoreRequestProvider" />-->
			<add name="Admin" classFile="~base/libraries/providers/requesthandlers/admin/admin.php" className="AdminRequestHandler" />
			<add name="Blog" classFile="~base/libraries/providers/requesthandlers/blog/blog.php" className="BlogRequestHandler" />
		</requestHandlers>
		<pathMappings>
			<add path="^/admin/(.*)" requestHandler="Admin" themeKey="admin" />
			<!--<add path="^/products(/?.+\.html)" translate="/shop/productview.html?prodkey=$1" />-->
			<!--<add path="^/shop/?(index\.html)?" translate="/shop/categoryview.html?catkey=" requestHandler="Store" />-->
			<!--<add path="^/shop/(.+\.html)" translate="/shop/categoryview.html?catkey=$1" exampleFile="~/shop/categoryview.html?catkey=$1" requesthandler="Store" />
			<add path="^/blog.*" __translate="/view.html?year=$1&month=$2&day=$3&slug=$4" requestHandler="Blog" />-->
		</pathMappings>
		<requireSecureConnection>
			<add path="/checkout/.*" />
		</requireSecureConnection>
		<!--<location path="/admin/.*" theme="athenacms" />-->
		<!--<location path="/admin/content/.*" theme="athenacms" />-->
	</pages>
	<membership defaultProvider="SqlMemberProvider">
		<providers>
			<add name="SqlMemberProvider" classFile="~/libraries/providers/members/sqlmembershipprovider.php" className="SqlMembershipProvider" loginUrl="/login.php" requireSSL="false" slidingExpiration="true" applicationName="MyApplication" />
			<add name="ListingMembershipProvider" classFile="~/libraries/providers/members/listingmembershipprovider.php" className="ListingMembershipProvider" />
			<add name="CartMember" classFile="~/libraries/providers/members/cartmember.php" className="SqlCartMembershipProvider" loginUrl="/login.php" requireSSL="false" slidingExpiration="true" applicationName="MyApplication" />
		</providers>
	</membership>
	<roleManager defaultProvider="SqlRoleProvider">
		<providers>
			<add name="SqlRoleProvider" classFile="~/libraries/providers/roles/sqlroleprovider.php" className="SqlRoleProvider" applicationName="MyApplication" />
		</providers>
		<permissions>
			<add permission="Admin.Pages" description="Manage site pages" />
			<add permission="Admin.Pages.Controls" description="Manage site controls" />
			<add permission="Admin.LiveSite" description="Add live site option to pages menu" />
			<add permission="Admin.AssetManager" description="" />
			<add permission="Admin.Roles" description="Manage user roles" />
			<add permission="Admin.MetaClasses" description="Manage meta classes" />
			<add permission="Admin.MetaFields" description="Manage meta fields" />
			<add permission="Admin.Templates" description="Manage content templates" />
			<add permission="Admin.Memberships" description="Manage users" />
			<add permission="Admin.Memberships.Roles" description="Manage roles" />
			<add permission="Admin.Memberships.AssignRoles" description="User roles" />
			<add permission="Admin.Memberships.Roles.Permissions" description="Role permissions" />
			<add permission="Admin.Cache.Site" description="Manage site cache" />
			<add permission="Admin.Cache.GlobalSite" description="Manage global cache (applies to all sites)" />
			<add permission="Admin.Cache.Base" description="Manage framework cache" />
			<add permission="Admin.Sites" description="Manage sites" />
		</permissions>
	</roleManager>
	<profile>
		<providers>
			<!--<add name="iPhone" classFile="~/libraries/providers/profiles/iphone.php" className="IPhoneProfileProvider" />
			<add name="Mobile" classFile="~/libraries/providers/profiles/mobile.php" className="MobileProfileProvider" />
			<add name="Default" classFile="~/libraries/providers/profiles/default.php" className="DefaultProfileProvider" />-->
		</providers>
	</profile>
	<cacheManager defaultProvider="">
		<providers>
			<add name="content" classFile="~/libraries/providers/cache/cache.php" className="CWI_PROVIDER_CacheProvider" />
			<add name="object" classFile="~/libraries/providers/cache/object.php" className="CWI_PROVIDER_ObjectCacheProvider" />
			<add name="config" classFile="~/libraries/providers/cache/object.php" className="CWI_PROVIDER_ObjectCacheProvider" />
			<add name="sync" classFile="~/libraries/providers/cache/object.php" className="CWI_PROVIDER_ObjectCacheProvider" />
			<add name="model" classFile="~/libraries/providers/cache/object.php" className="CWI_PROVIDER_ObjectCacheProvider" />
		</providers>
	</cacheManager>
	<store>
		<shippingModules>
			<add name="UPS" classFile="~/store/modules/shipping/ups.php" className="ShippingUPS" applicationName="MyApplication" />
			<add name="Standard" classFile="~/store/modules/shipping/standard.php" className="ShippingStandard" />
			<add name="FedEx" classFile="~/store/modules/shipping/fedex.php" className="ShippingFedEx" />
		</shippingModules>
	</store>
	<search defaultTemplate="~/templates/default.tpl" defaultTemplatePlaceholder="ph_main">
		<providers>
			<add name="ControlSearch" clasFile="~base/providers/search/controlsearch.php" className="CWI_PROVIDER_SEARCH_ControlSearch" />
		</providers>
	</search>
</config>